# 01 - Connecting to DB

In [5]:
import pandas as pd
from sqlalchemy import create_engine

print("=== Ready to connect to DB ===")

engine = engine = create_engine("mysql+pymysql://root:password@db:3306/sakila")
pd.read_sql("SHOW TABLES;", engine)

=== Ready to connect to DB ===

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store