# 01 - Connecting to DB

In [30]:
import pandas as pd
from sqlalchemy import create_engine

print("=== Ready to connect to DB ===")

engine = create_engine("mysql+pymysql://app:app_password@db:3306/sakila")
pd.read_sql("SHOW FULL TABLES;", engine)
# pd.read_sql("SHOW FULL TABLES WHERE Table_type = 'VIEW';", engine)

=== Ready to connect to DB ===

              Tables_in_sakila  Table_type
0                        actor  BASE TABLE
1                   actor_info        VIEW
2                      address  BASE TABLE
3                     category  BASE TABLE
4                         city  BASE TABLE
5                      country  BASE TABLE
6                     customer  BASE TABLE
7                customer_list        VIEW
8                         film  BASE TABLE
9                   film_actor  BASE TABLE
10               film_category  BASE TABLE
11                   film_list        VIEW
12                   film_text  BASE TABLE
13                   inventory  BASE TABLE
14                    language  BASE TABLE
15  nicer_but_slower_film_list        VIEW
16                     payment  BASE TABLE
17                      rental  BASE TABLE
18      sales_by_film_category        VIEW
19              sales_by_store        VIEW
20                       staff  BASE TABLE
21                  staff_list        VIEW
22                       store  BASE TABLE

In [16]:
pd.read_sql("DESCRIBE rental;", engine)

,Field,Type,Null,Key,Default,Extra
0,rental_id,int,NO,PRI,None,auto_increment
1,rental_date,datetime,NO,MUL,None,
2,inventory_id,mediumint unsigned,NO,MUL,None,
3,customer_id,smallint unsigned,NO,MUL,None,
4,return_date,datetime,YES,,None,
5,staff_id,tinyint unsigned,NO,MUL,None,
6,last_update,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

In [20]:
pd.read_sql("", engine)

SyntaxError: unterminated string literal (detected at line 1) (1396973294.py, line 1)

In [27]:
pd.read_sql("""
SELECT
    r.rental_id
FROM
    rental AS r
LIMIT 10;
"""
, engine)

   rental_id
0          1
1          2
2          3
3          5
4          6
5          9
6         13
7         14
8         15
9         17